.vscode/settings.json
.~lock.imdb.csv#
__pycache__/parse_budget.cpython-35.pyc
__pycache__/parse_budget.cpython-35.pyc
__pycache__/parse_budget.cpython-35.pyc
__pycache__/parse_country.cpython-35.pyc
__pycache__/utils.cpython-35.pyc
__pycache__/parse_cast.cpython-35.pyc
__pycache__/parse_cast.cpython-35.pyc
__pycache__/parse_director.cpython-35.pyc
__pycache__/parse_gross.cpython-35.pyc
__pycache__/parse_language.cpython-35.pyc
__pycache__/parse_releaseDate.cpython-35.pyc
__pycache__/parse_writers.cpython-35.pyc
__pycache__/readIDfromKaggle.cpython-35.pyc
